@{
    Layout = "~/Views/Admin/_AdminLayout.cshtml";
    ViewData["Title"] = "Admin Dashboard";
}

<h2 class="mb-4">Admin Dashboard</h2>

<div class="row g-4">
    <div class="col-md-4">
        <div class="card text-white bg-black h-100">
            <div class="card-body">
                <h5 class="card-title"></h5>
                <p class="card-text fs-3">123</p>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card text-white bg-black h-100">
            <div class="card-body">
                <h5 class="card-title">Planners Registered</h5>
                <p class="card-text fs-3">12</p>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card text-white bg-black h-100">
            <div class="card-body">
                <h5 class="card-title">Total Vendors</h5>
                <p class="card-text fs-3">45</p>
            </div>
        </div>
    </div>
</div>