@using Microsoft.AspNetCore.Identity
@using DreamDayWeddingPlanner.Models
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

@{
    ViewData["Title"] = "Home Page";
    string dashboardUrl = "/";
    bool isLoggedIn = SignInManager.IsSignedIn(User);
    if (isLoggedIn)
    {
        var user = await UserManager.GetUserAsync(User);
        if (await UserManager.IsInRoleAsync(user, "Admin"))
        {
            dashboardUrl = "/Admin/Index";
        }
        else if (await UserManager.IsInRoleAsync(user, "Planner"))
        {
            dashboardUrl = "/WeddingPlanners/Index";
        }
        else if (await UserManager.IsInRoleAsync(user, "Couple"))
        {
            dashboardUrl = "/Couple/Index";
        }
        else if (await UserManager.IsInRoleAsync(user, "Vendor"))
        {
            dashboardUrl = "/Vendor/Index";
        }
    }
}

<div class="text-center" style="margin-top: 100px;">
    <h1 class="display-4 mb-4">Welcome to DreamDay</h1>
    @if (!isLoggedIn)
    {
        <a href="/Auth/RegisterCouple" class="btn btn-primary btn-lg me-3">Register as Couple</a>
        <a href="/Auth/RegisterPlanner" class="btn btn-secondary btn-lg">Register as Wedding Planner</a>
    }
    else
    {
        <a href="@dashboardUrl" class="btn btn-success btn-lg">Go to Dashboard</a>
    }
</div>
